.dark-mode {
    background-color: darken($grisOscuro,10);
    p,blockquote,a {
        color: $blanco;
    }
    h1,h2,h3,h4 {
        color: $gris;
    }
    .formulario {
        p,legend,label {
            color: $blanco;
        }
        input:not([type="submit"]),
        textarea,
        select {
        background-color: $grisOscuro;
        border: 1px solid $negro;
        color: $blanco;
        }
        ::placeholder {
            color: $blanco;
        }
    }
    .contenedor-anuncios {
        .anuncio {
            background-color: $grisOscuro;
            border: 1px solid $negro;
        }
        .contenido-anuncio {
            img {
                filter: invert(100%);
            }
        }
    }
    .resumen-propiedad {
        img {
            filter: invert(100%);
        }
    }
    table.propiedades {
        tbody {
            td {
                color: $blanco;
            }
        }
    }
    .precio {
        color: $verde;
    }
}
